.controlls {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 25px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
}
.controlls button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: contain;
	border: none;
	cursor: pointer;
	background-color: #303c46eb;
}
#sound-button {
	background-image: url('../../public/sound-on.svg');
}
.info-button {
	background-image: url('../../public/info-button.svg');
	background-size: contain;
}
.info-button.active {
	border: 5px solid #6c6c6c;
}
.controlls-buttons-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
