@font-face {
	font-family: Big Noodle Too;
	src: url(/fonts/big-noodle-too-oblique.ttf);
}
@font-face {
	font-family: overwatch;
	src: url(/fonts/STAR7.ttf);
}

.start-game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.start-game-button {
	color: rgb(245, 245, 245);
	position: relative;
	font-size: 3rem;
	width: 300px;
	height: 50px;
	background: none;
	border: none;
	cursor: pointer;
	overflow: hidden;
}
.memory-card-game-logo {
	font-family: overwatch;
	font-size: 2.5rem;
	color: rgb(49, 61, 72);
	margin-top: 0;
}

.difficulty-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}
.difficulty-button {
	font-family: Big Noodle Too;
	color: rgb(245, 245, 245);
	font-size: 3rem;
	width: 140px;
	background: none;
	border: none;
	cursor: pointer;
	overflow: hidden;
	text-align: start;
	transition: transform 0.2s ease;
}
.difficulty-button:hover {
	transform: scale(1.2);
	color: orange;
}
.difficulty-button::after {
	z-index: -1;
	opacity: 0;
	content: '';
	position: absolute;
	left: 0;
	bottom: 35%;
	width: 100%;
	height: 10px;
	border-radius: 50%;
	background: radial-gradient(circle, white, white);
	transition: opacity 0.3s ease;
	box-shadow: 1px 1px 20px rgb(255, 255, 255);
}

#background-video {
	position: absolute;
	z-index: -2;
	object-fit: fill;
	width: 100%;
	height: 101%;
	transform: scale(1.35);
}
.logo {
	width: 600px;
}
.game {
	cursor: pointer;
	width: 250px;
	position: absolute;
	left: 0;
	margin: 30px;
	transition: transform 0.2s ease;
}
.game:hover {
	transform: scale(1.1);
}
